.parent {
  width: 300px;
}

.red {
  background-color: red;
  width: 10%;
  float: left;
}

.yellow {
  background-color: yellow;
  float: right;
  width: 80%;
}

.blue {
  background-color: blue;
  height: 40%;
}

.green {
  background-color: green;
  height: 40%;
  margin-top: 10px;
}